/* extra small */
@media (min-width: 0px) and (max-width: 575px) {
}

/* small */
@media (min-width: 575px) and (max-width: 767px) {
  .container {
    width: 575px;
  }

  .banner_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .book_container {
    width: 508px;
  }

  .lamp_parent {
    left: -30px;
  }

  .grid_container_books {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .author_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .flower_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border: 1 px solid black;
    background-color: #1b3764;
  }
  .coffe_img {
    margin-top: 20px;
    width: 500px;
  }

  .custom_h1 {
    margin-left: 16%;
    
}

  .grid_total_content {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5px;
  }

  .grid_total_content .grid_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #lern_book_reading {
    margin-top: 20px;
    width: 426px;
  }


  .curt_row{
    flex-direction: column;
  }

  .sort_description {
    margin-left: 78px;
   
}

}

/* medium */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }

  .banner_container {
    border: 1px solid yellow;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .banner_container .banner_left {
    margin: auto;
    color: #ffffff;
    margin-left: 57px;
  }

  /*Author books*/
  .grid_container_books {
    grid-template-columns: 1fr;
  }

  /* author about */
  .author_container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  /* Flower part */
  .flower_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1 px solid black;
    background-color: #1b3764;
    padding: 20px;
  }

  .coffe_img {
    width: 400px;
    margin-top: 20px;
  }
  /*lern part  */

  .grid_total_content {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    align-items: center;
  }

  #lern_book_reading {
    margin-top: 20px;
    width: 520px;
  }

  .custom_h1 {
    margin-left: 154px;
    font-family: "Cardo";
    font-weight: 700;
    font-size: 45px;
    color: #1b3764;
    top: 20px;
    margin-top: 20px;
  }

  .sort_description {
    margin-bottom: 10px;
    margin: auto;
  }
  /*  */
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .second_grid {
    display: grid;
    grid-template-rows: 1fr;
  }

  .item_one .common_cart {
    background-color: #1b3764;
    width: 337px;
    margin-bottom: 30px;
    padding: 20px 25px;
  }

  .item_two {
    display: grid;
    align-items: center;
    width: 337px;
  }
}

/* large */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }

  .banner_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner_container .banner_left {
    margin-left: 114px;
  }
  .book_container {
    width: 592px;
    margin: 0 auto;
    padding-top: 20px;
    border: 1px solid black;
    background-color: #fff;
    border-width: 10px;
    border-color: #dbe1e9;
    border-style: solid;
    /* margin-right: 207px; */
    margin: auto;
    margin-left: 109px;
  }
  .image_1 {
    margin-left: 110px;
  }

  .grid_container_books {
    grid-template-columns: 1fr;
  }

  #second_grid_item {
    display: none;
  }

  .author_container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .author_container .left_side_img img {
    width: 513px;
    height: 500px;
  }

  .box_1 {
    margin-left: 90px;
  }

  .grid_total_content {
    display: flex;
    flex-direction: column;
  }
  #lern_book_reading {
  }
  .coffe_img {
  }

  .curt_row {
    margin-top: 60px;
  }
  .pages_length {
    /* display: none; */
  }
  .sort_description {
    margin-left: 291px;
    margin-top: 99px;
  }

  /* reders_opinion */
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  /* .articles */
  .article {
    grid-template-columns: repeat(2, 1fr);
  }
  #cart_3_r {
    display: none;
  }

  /*  */
  .grid_container_books .grid-item-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* background-color: #e91e63; */
    border: 5px solid skyblue;
    justify-items: center;
  }

  .grid_container_books .grid-item-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
}

/* extra large */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .grid_total_content .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }

  #lern_book_reading {
    width: 494px;
    height: 488px;
    margin-top: 263px;
  }
  /*  */
  .grid-container {
    display: grid;
    grid-template-columns: 321px 1fr;
    grid-gap: 50px;
  }
  /*  */
  .grid_container_books .grid-item {
    display: flex;
  }
}

/*Footer part */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* 1200px done */
